* {
	box-sizing: border-box;
	margin: 0px;
	text-transform: capitalize;
}
body {
	background-color: #F0F0F6;
}
.container {
	display: flex;
	gap: 30px;
}
.left {
	width: 305px;
	height: 1260px;
	float: left;
	background-color: white;
}
.left hr {
	margin-left: 40px;
	margin-right: 45px;
}
.left1 {
	padding-top: 50px;
	text-align: center;
}
.photo {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.name {
	padding-top: 31px;
	padding-bottom: 15px;
}
.ikonka {
	padding-top: 15px;
	padding-bottom: 25px;
	margin-left: 40px;
	margin-right: 45px;
	display: flex;
	justify-content: space-between;
}
.ikonka-item {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #ffb400;
	display: flex;
	justify-content: center;
	align-items: center;
}
.left2 {
	margin-left: 40px;
	margin-right: 45px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.left2-item {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}
.item-key {
	background-color: #ffb400;
}
.left3 {
	margin-left: 41px;
	margin-right: 46px;
	margin-top: 22px;
	margin-bottom: 26px;
}
.languages {
	margin-bottom: 5px;
}
.languages-word1 {

}
.languages-word2 {
	float: right;
}
.left4 {
	margin-top: 25px;
	margin-bottom: 26px;
	margin-left: 40px;
	margin-right: 45px;
}
.skills {
	margin-bottom: 5px;
}
.skills1 {

}
.skills2 {
	float: right;
}
.left5 {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 40px;
}
.extra {
	margin-top: 5px;
}
.extra span {
	margin-left: 15px;
}
.btn {
	margin: 25px 45px;
	text-align: center;
	border: none;
	padding: 10px 72px 10px 40px;
	background-color: #ffb400;
}
.btn img {
	vertical-align: middle;
}
main {
	width: 870px;
}
.main1 {
	width: 100%;
	height: 464px;
	background-color: white;
	margin-bottom: 138px;
	display: flex;
	position: relative;
}
.main1name {
	width: 57%;
	height: 100%;
	padding: 93px 27px 0px 60px;
}
.main1name h1 {
	padding-bottom: 25px;
}
.main1name span {
	color: #ffb400;
}
.main1name p {
	padding-bottom: 30px;
}
.main1name button {
	width: 154px;
	height: 51px;
	border: none;
	border-radius: 3px;
	background-color: #ffb400;
}
.main1photo {
	width: 40%;
}
.main1photo img {
	width: 100%;
}
.ellipse div {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
}
.ellipse1 {
	border-color: orange;
	position: absolute;
	left: 40px;
	top: 30px;
}
.ellipse2 {
	border-color: green;
	position: absolute;
	left: 88px;
	bottom: 29px;
}
.ellipse3 {
	border-color: green;
	position: absolute;
	left: 520px;
	top: 52px;
}
.ellipse4 {
	border-color: orange;
	position: absolute;
	left: 476px;
	bottom: 56px;
}
.rotate div {
	width: 16px;
	height: 16px;
	transform: rotate(26.05deg);
	border-style: solid;
	border-width: 2px;
}
.rotate1 {
	color: blue;
	position: absolute;
	left: 370px;
	bottom: 112px;
}
.rotate2 {
	color: orange;
	position: absolute;
	right: 40px;
	top: 30px;
}
.main2 h2, .main2 p, .main2 h4{
	text-align: center;
}
.main2bloc {
	width: 31%;
	height: 225px;
	background-color: white;
	margin-bottom: 20px;
}
.main2bloc p {
	padding-top: 10px;
}
.main2img {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main2blocs {
	display: flex;
	align-content: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 70px;
}
#main2bloc {
	padding-top: 30px;
}
#main2bloc p {
	padding-top: 22px;
}
.main3 {
	margin-bottom: 70px;
}
.main3 h2, .main3 p, .main3 h4{
	text-align: center;
}
.main3blocs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
	position: relative;
}
.main3bloc {
	width: 31%;
	height: 609px;
	padding-right: 31px;
	padding-left: 31px;
	background-color: white;
}
.main3bloc2 {
	height: 30px;
	width: 31%;
	background-color: #ffb400;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	padding-top: 5px;
	position: absolute;
	left: 300px;
	top: 0;

}
.main3bloc h3 {
	padding-top: 54px;
	text-align: center;
}
.main3bloctop {
	padding-top: 19px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.main3bloc1 {
	padding-top: 8px;
	padding-bottom: 21px;
}
.main3bloc3 {
	margin-bottom: 18px;
	display: flex;
	gap: 18px ;
}
.main3bloc4 {
	display: flex;
	justify-content: center;
	padding-top: 20px;

}
.main3bloc4 button {
	width: 169px;
	height: 38px;
	border-radius: 19px;
}


.main4 {
	padding-bottom: 70px;
}
.main4 h2 {
	text-align: center;
	padding-bottom: 25px;
}
.main4p {
	text-align: center;
	padding-bottom: 50px;
}
.main4container {
	display: flex;
	justify-content: space-between;
}
.main4bloc {
	width: 31%;
	height: 329px;
	padding: 25px;
	background-color: white;
}
.main4pictures {
	width: 130px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 17px;
}
.main4comment1 {
	padding-bottom: 18px;
}
.main4comment2 {
	padding-bottom: 30px;
}
	
.main4person {
	display: flex;
	align-items: center;
	gap: 13px;
}
.main4photo img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.main4bottom {
	padding-top: 50px;
	width: 50px;
	height: 10px;
	position: relative;
	left: calc(50% - 25px);
	display: flex;
	justify-content: space-between;
}
.main4bottom div {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 5px #ffb400 solid;
}



.main5 {
	padding-bottom: 70px;
}
.main5h2 {
	text-align: center;
	padding-bottom: 25px;
}
.main5p {
	text-align: center;
	padding-bottom: 50px;
}
.main5blocs {
	width: 100%;
	height: 632px;
	background-color: white;
	padding: 19px 29px 38px 37px;
}

.main5bloc {
	width: 100%;
	height: 210px;
	padding-top: 28px;
	display: flex;
	justify-content: space-between;

}
.main5blocleft {
	width: 20%;
}
.main5blocleft h4 {
	padding-bottom: 32px;
}
.main5student {
	display: flex;
	justify-content: space-between;
}
.main5studentp {
	background-color: #ffb400;
	font-size: 10px;
	padding: 4px 7px 4px 7px;
}

.main5blocright {
	width: 55%;
}
.main5blocright h4 {
	padding-bottom: 28px;
}

.main6 {
	margin-bottom: 50px;
}
.main6categoriescontainer {
	display: flex;
	justify-content: center;
}
.main6categories {
	width: 606px;
	height: 22px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.main6categories h4:hover {
	color: #ffb400;
	cursor: pointer;
}


.main6photocontainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.main6photo {
	width: 31%;
	position: relative;
}
.main6photoimg {
	width: 100%;
	margin-bottom: 20px;
	z-index: 0;
	position: static;
	left: 0;
	top: 0;
}
.main6photovector:hover {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(255, 136, 0, 0.8);
	padding: calc(50% - 20.5px) calc(50% - 16px);
	opacity: 1;
	cursor: pointer;
}
.main6photovector{
	padding: calc(50% - 20.5px) calc(50% - 16px);
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition-duration: 0.3s;
}

.main7 {
	margin-bottom: 70px;
}
.main7blocs {
	display: flex;
	justify-content: space-between;
}
.main7bloc {
	width: 31%;
	background-color: white;
}
.main7bloc > div {
	padding: 0px 17px 9px 25px;
}
.main7bloc > img{
	width: 100%;
	margin-bottom: 25px;
}
.main7bloc h4 {

}
.main7bloc p {
	margin-bottom: 8px;
	margin-top: 8px;
}

.main8 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 71px;
}
.main8lefrcontainer {
	width: 58%;
}
.main8 h2 {
	padding-bottom: 50px;
}
.main8left {
	width: 100%;
	height: 665px;
	background-color: white;
	padding: 25px;
}
.main8left div {
	padding-bottom: 25px;
}
.main8left p {
	padding-bottom: 8px;
}
.main8left input {
	width: 100%;
	height: 50px;
	background-color: #f0f0f6;
	border: none;
}
.main8lefttext {
	height: 210px;
	width: 100%;
	background-color: #f0f0f6;
	border: none;
	z-index: ;
}
.main8leftbtn {
	width: 159px;
	height: 35px;
	background-color: #ffb400;
	border: none;
}
.main8rightcontainer {
	width: 38%;

}
.main8right {
	width: 100%;
	height: 665px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.main8rightbloc {
	width: 100%;
	height: 31%;
	background-color: white;
	padding: 25px 25px 0px;
}
.main8righticonka {
	display: flex;
	justify-content: center;
	padding-bottom: 31px;
}
.main8righticonka div {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffb400;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main8righticonka img {

}
.main8righttext {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.bottomimg {
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
}
footer {
	width: 100%;
	height: 60px;
	background-color: white;
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.rightbar {
	width: 80px;
	height: 100vh;
	background-color: white;
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0px;
	left: 0px;

}
.rightbarimg {
	padding-top: 52px;
	padding-bottom: 150px;
}
.rightbarimgs {
	background-color: #f0f0f6;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	transition-duration: 0.3s;
}
.rightbarimgs:hover {
	background-color: #ffb400;
}
.rightbarword {
	width: 65px;
	height: 24px;
	text-align: center;
	background-color: #2b2b2b;
	position: absolute;
	top: -30px;
	left: -12px;
	border-radius: 2px;
	color: white;
	opacity: 0;
	transition-duration: 0.3s;
}
.poligon {
	width: 18px;
	height: 18px;
	border-top: #2b2b2b solid 9px;
	border-right: rgba(0, 0, 0, 0) solid 9px;
	border-left: transparent solid 9px;
	position: absolute;
	top: -6px;
	left: 11px;
	opacity: 0;
	transition-duration: 0.3s;
}
.rightbarimgs:hover .rightbarword, .rightbarimgs:hover .poligon {
	opacity: 1;
}
button {
	cursor: pointer;
}